html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* ---------- shared layout ---------- */
.sky-scene {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 220px;
  height: 220px;
  pointer-events: none;
  transition: opacity 1s;
}
.sky-scene.hide {
  opacity: 0;
  visibility: hidden;
}

/* ---------- SUN + CLOUDS ---------- */
.sun {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffa600;
  box-shadow: 0 0 10px #ffa600, 0 0 60px #ffa600, 0 0 160px #ffea00,
    inset 0 0 40px #ffea00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cloud {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  filter: blur(3px);
  opacity: 0.8;
}
.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
.cloud::before {
  width: 55px;
  height: 55px;
  top: -25px;
  left: 35px;
}
.cloud::after {
  width: 120px;
  height: 60px;
  top: -50px;
  left: 45px;
}
.cloud-a {
  left: -30px;
  top: 10px;
  animation: cloud 18s linear infinite;
}
.cloud-b {
  right: -40px;
  top: 30px;
  animation: cloud 20s linear reverse infinite;
}
@keyframes cloud {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(60px);
  }
}

/* ---------- MOON + STARS ---------- */
.moon-wrap {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e2e8f0;
  box-shadow: 0 0 12px 2px rgba(229, 229, 229, 0.3),
    5px 0 12px 4px rgba(229, 229, 229, 0.2);
}
.moon-wrap::after {
  content: "";
  position: absolute;
  background: rgba(162, 162, 162, 0.8);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  left: 95px;
  top: 30px;
  box-shadow: 5px 35px 0 -4px rgba(162, 162, 162, 0.85);
}
.star {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  animation: pulse infinite ease-in-out;
}
.star-1 {
  top: 15px;
  left: -5px;
  box-shadow: 0 0 3px 1px #fff, -70px 90px 2px 0 #fff, 140px 90px 2px 0 #fff;
}
.star-2 {
  top: 60px;
  left: -35px;
  background: #ff0;
  box-shadow: 0 0 4px 1px #ff0, 180px 60px 2px 0 #ff0, -90px 30px 2px 0 #ff0;
}


/* ---------- Card ---------- */
input::placeholder {
  letter-spacing: -0.5px;
}

#city-btn:hover {
  transform: translateY(-1px);
}
